$point-font-l:'GmarketSansLight';
$point-font-m:'GmarketSansMedium';
$point-font-b:'GmarketSansBold';
$center01: 1520px;
$center02: 1060px;
$center03: 1200px;
$title-size-pc: 3.6rem;
$title-size-m: 3rem;
$point-color:#f3db7a;